<?xml version="1.0" encoding="UTF-8"?>
<!--  Configuration du la WebApp pour un serveur applicatif -->
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">

	<display-name>M04_04_WebApp-spring</display-name>
	
	<!-- Configurer le context Spring -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>WEB-INF/ApplicationContext.xml</param-value>
	</context-param>
	
	<!--  Ajouter le listener Spring au projet -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	
</web-app>