<?xml version="1.0" encoding="UTF-8"?>

<!-- Ajouter les transaction TX -->
<beans xmlns:tx="http://www.springframework.org/schema/tx" xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context-4.0.xsd
    http://www.springframework.org/schema/tx 
    http://www.springframework.org/schema/tx/spring-tx-4.0.xsd">

	<!-- activer les annotations -->
	<context:annotation-config></context:annotation-config>
	<!-- Scan des pacackages -->
	<context:component-scan base-package="fr.demo.spring.orm.service"></context:component-scan>
	<context:component-scan base-package="fr.demo.spring.orm.dao"></context:component-scan>

	<!-- activer la persistence par annotation de Spring -->
	<bean class="org.springframework.orm.jpa.support.PersistenceAnnotationBeanPostProcessor" />

	<!-- Ajouter un fichier de configuration Spring au projet -->
	<bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="location" value="classpath:datasource.properties"></property>
	</bean>

	<!-- ############################################# DATASOURCE N°1 ############################################# -->
	<!-- Définition d'une DataSource -->
	<bean id="datasource1" class="org.apache.commons.dbcp2.BasicDataSource" destroy-method="close">
		<!-- Utilisation du fichier properties -->
		<property name="driverClassName" value="${driver}"></property>
		<property name="url" value="${url}"></property>
		<property name="username" value="${user}"></property>
		<property name="password" value="${pass}"></property>
	</bean>

	<!-- Configuration de l'entityManager de Spring -->
	<bean id="emf1" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
		<!-- emplacement des entity -->
		<property name="packagesToScan">
			<list>
				<value>fr.demo.spring.orm.bean</value>
			</list>
		</property>
		<!-- definition/injection de la datasource -->
		<property name="dataSource" ref="datasource1"></property>
		<!-- Configuration du Driver -->
		<property name="jpaVendorAdapter">
			<bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter">
				<property name="showSql" value="false"></property>
				<property name="database" value="MYSQL"></property>
			</bean>
		</property>
		<!--  AJOUTER UN NOM A L'UNITE DE PERSISTENCE  -->
		<property name="persistenceUnitName" value="PU1"></property>
		
		<!-- Configuration du mode DDL -->
		<property name="jpaProperties">
			<props>
				<prop key="hibernate.hbm2ddl.auto">create</prop>
				<!-- create | validate | update | create-drop -->
			</props>
		</property>
	</bean>

	<!-- Configuration des transaction JPA -->
	<bean id="transactionManager1" class="org.springframework.orm.jpa.JpaTransactionManager">
		<!-- Injection de l'EntityManager -->
		<property name="entityManagerFactory" ref="emf1" />
	</bean>


	<!-- ############################################# DATASOURCE N°2 ############################################# -->
	<!-- Définition d'une DataSource -->
	<bean id="datasource2" class="org.apache.commons.dbcp2.BasicDataSource" destroy-method="close">
		<!-- Utilisation du fichier properties -->
		<property name="driverClassName" value="${driver}"></property>
		<property name="url" value="${url}"></property>
		<property name="username" value="${user}"></property>
		<property name="password" value="${pass}"></property>
	</bean>

	<!-- Configuration de l'entityManager de Spring -->
	<bean id="emf2" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
		<!-- emplacement des entity -->
		<property name="packagesToScan">
			<list>
				<value>fr.demo.spring.orm.bean</value>
			</list>
		</property>
		<!-- definition/injection de la datasource -->
		<property name="dataSource" ref="datasource2"></property>
		<!-- Configuration du Driver -->
		<property name="jpaVendorAdapter">
			<bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter">
				<property name="showSql" value="false"></property>
				<property name="database" value="MYSQL"></property>
			</bean>
		</property>
		<!--  AJOUTER UN NOM A L'UNITE DE PERSISTENCE  -->
		<property name="persistenceUnitName" value="PU2"></property>
		<!-- Configuration du mode DDL -->
		<property name="jpaProperties">
			<props>
				<prop key="hibernate.hbm2ddl.auto">create</prop>
				<!-- create | validate | update | create-drop -->
			</props>
		</property>
	</bean>

	<!-- Configuration des transaction JPA -->
	<bean id="transactionManager2" class="org.springframework.orm.jpa.JpaTransactionManager">
		<!-- Injection de l'EntityManager -->
		<property name="entityManagerFactory" ref="emf2" />
	</bean>

	<!-- activer les annotations de Transaction -->
	<tx:annotation-driven />

</beans>
